# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# pipenv
Pipfile
Pipfile.lock

# Virtual environments
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
*.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

#Output / scratch data
out/
scratch/